{{extend 'layout.html'}}
    <section class="conteudo">
        <div class="container">
            <div class="col-sm-6 col-xs-12">
                <h2 ><span class="nome-app">Eu Fiz!</span> <span class="text-span">Viva bem se divertindo!</span></h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, tempora illum quis commodi iusto rem repudiandae minima natus deserunt explicabo quo magni ut repellat fuga deleniti in sint veniam. Soluta, aspernatur, similique, fuga enim labore sit ipsam quia magnam incidunt est debitis vel quo dolorum ratione dolores fugiat sint animi tempore alias molestias eveniet accusamus sapiente? Rem, quis, debitis odio voluptate maiores qui illo ipsam illum architecto explicabo aliquam eos necessitatibus aliquid? Animi, pariatur, voluptas tempora ipsa alias earum maiores.</p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img style="margin:auto" class="img-responsive" src="{{=URL('static','images/n4_large.png')}}">
            </div>
        </div>
    </section>
