{{extend 'layout.html'}}
    <section class="conteudo">
        <div class="container">
            <div class="col-sm-6 col-xs-12">
                <h2 style="padding-top:30%;"><span class="nome-app">Eu Fiz!</span> <p><span class="text-span">Viva bem se divertindo!</span></h2></p>
                 <p  class="lead">Aplicativo voltado para medir as atividades do dia a dia de forma que você possa analisar seu desempenho e ainda, compartilhar com os seus amigos.</p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img style="margin:auto" class="img-responsive" src="{{=URL('static','images/n4_large.png')}}">
            </div>
        </div>
    </section>
