{{extend 'layout.html'}}
{{block header}}
<link href="{{=URL('static','css/profile.css')}}" rel="stylesheet">
{{end}}
<section class="conteudo container">
    <div class="row">
        <div class="col-md-6 col-xs-12" >

           <div class="panel panel-info" >
              <div class="panel-heading">Perfil</div>
              <div class="panel-body">
                <img class="img-responsive img-circle" style="margin:auto;height:150px;width:150px;padding-bottom:10px;" src="{{=URL('download',args=auth.user.avatar)}}" alt="perfil">
                <p style="text-align:center">{{=auth.user.first_name.capitalize()}} {{=auth.user.last_name.capitalize()}}, {{=auth.user.idade}}</p>
                <p style="text-align:center">{{=auth.user.bio}}</p>

            </div>
        </div>

        <div class="panel panel-info" >
          <div class="panel-heading">Histórico de atividades</div>
          <div class="panel-body">

            <div class="list-group">
                <a href="#" data-toggle="modal" data-target="#myModal" class="list-group-item">
                  <img class="img-responsive img-circle" style="float:left;margin-right:10px;" src="{{=URL('static','images/mini_corrida.jpg')}}" alt="perfil">
                  <h4 class="list-group-item-heading">Correr</h4>
                  <p class="list-group-item-text">Hoje você realizou uma atividade física, você correu por ... minutos....</p>
              </a>
              <a style="padding-bottom:30px" href="#" onclick="notimplemented()" class="list-group-item">
                <img class="img-responsive img-circle" style="float:left;margin-right:10px;" src="{{=URL('static','images/mini_leitura.jpg')}}" alt="perfil">
                <h4 class="list-group-item-heading">Leitura de Livro</h4>
                <p class="list-group-item-text">Você realizou a leitura de um livro........</p>
            </a>
            <a href="#" style="padding-bottom:30px"  onclick="notimplemented()" class="list-group-item">
              <img class="img-responsive img-circle" style="float:left;margin-right:10px;" src="{{=URL('static','images/mini-alimento.jpg')}}" alt="perfil">
              <h4 class="list-group-item-heading">Alimentação</h4>
              <p class="list-group-item-text">Hoje você se alimentou bem, o seu prato foi .....</p>
          </a>

          <a href="#" style="padding-bottom:30px"  onclick="notimplemented()" class="list-group-item">
              <img class="img-responsive img-circle" style="float:left;margin-right:10px;" src="{{=URL('static','images/mini-caminhada.jpg')}}" alt="perfil">
              <h4 class="list-group-item-heading">Caminhada</h4>
              <p class="list-group-item-text">Você realizou uma caminhada curta!</p>
          </a>

          <a href="#" style="padding-bottom:30px" onclick="notimplemented()"  class="list-group-item">
              <img class="img-responsive img-circle" style="float:left;margin-right:10px;" src="{{=URL('static','images/mini-estudos.jpg')}}" alt="perfil">
              <h4 class="list-group-item-heading">Estudos</h4>
              <p class="list-group-item-text">O Hobbit, Tolkien. você correu por ... minutos....</p>
          </a>
      </div>
  </div>
</div>


</div>
<div class="col-md-6 col-xs-12" >
    <div class="row">

     <div class="panel panel-info" >
      <div class="panel-heading">Status</div>
      <div class="panel-body">

        <div class="col-md-4 col-xs-4">
        <a href="#" onclick="notimplemented()"> <img  class="img-responsive img-circle" style="background-color:rgba(255,255,255,0.6);" src="{{=URL('static','images/brain-game.png')}}" alt="perfil"></a>
        </div>


        <div class="col-md-6 col-xs-6">
            <div class="progress progress-striped {{if alterado:}}active{{pass}}" style="margin-top:25%">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{if alterado:}}56% {{else:}} 58% {{pass}}">
              </div>
          </div>
      </div>
      <div class="col-md-2 col-xs-2">
        {{if alterado:}}
        <span class="badge" style="margin-top:65px">-2</span>
        {{pass}}
    </div>
</div>


<div class="row" style="margin-top:20px">
    <div class="col-md-4 col-xs-4">
        <a href="#" onclick="notimplemented()">   <img class="img-responsive img-circle" style="background-color:rgba(255,255,255,0.6);padding:15px" src="{{=URL('static','images/food-game.png')}}" alt="perfil"> </a>
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="progress progress-striped" style="margin-top:25%">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:30%" >
          </div>
      </div>
  </div>

  <div class="col-md-2 col-xs-2">
  </div>
</div>
<div class="row" style="margin-top:20px">
    <div class="col-md-4 col-xs-4">
        <a href="{{=URL(c='default',f='search')}}"> <img class="img-responsive img-circle" style="background-color:rgba(255,255,255,0.6);padding:15px" src="{{=URL('static','images/halter-game.png')}}" alt="perfil"> </a>
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="progress progress-striped {{if alterado:}}active{{pass}} " style="margin-top:25%">
          <div class="progress-bar progress-bar-danger " role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:{{if alterado:}}40% {{else:}} 30% {{pass}}">
          </div>
      </div>
  </div>
  <div class="col-md-2 col-xs-2" style="margin-top:65px">
    {{if alterado:}}
    <span class="badge">+10</span>
    {{pass}}
</div>
</div>
</div>


<!-- badges panel -->
<div class="panel panel-info" >
    <div class="panel-heading">Conquistas</div>
    <div class="panel-body">
        <!-- badges row -->
        <div class="col-md-6 col-xs-12" >
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <img  src="{{=URL('static','images/badges.png')}}" alt="perfil">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>



</section>
<script>
    function notimplemented(){
        alert('Não implementado ainda.');
    }
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Correr</h4>
      </div>
      <div class="modal-body">
            <img class="img-responsive img-circle" style="margin:auto;height:150px;width:150px;padding-bottom:10px;" src="{{=URL('static','images/corrida.jpg')}}" alt="perfil">
            <p class="modal-text" >Hoje você realizou uma atividade física, você correu por ... minutos....</p>
      </div>
      <div class="modal-footer">
        <a href="{{=URL(f='profile/alt')}}" style="font-size:1.2em" class="btn btn-block btn-success" >Check-in</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
