{{extend 'layout.html'}}
{{block header}}
<link href="{{=URL('static','css/search.css')}}" rel="stylesheet">
{{end}}

<section class="container conteudo">

    <div class="page-header">
        <h1>O que você está fazendo? <p><small>Procure alguma atividade!</small></p></h1>
    </div>


    <div class="col-md-6">
        <div class="col-md-10" style="padding-right:10px">
            <form>
                <input onkeyup="busca()" type="text" id="month" name="month" class="input-lg form-control">
            </form>
            <div class="sugesstions">
            {{for row in db(db.atividade).select():}}
            <img class="thumbnail images" src="{{=URL('static','images/'+ row.nome +'.jpg')}}" alt="{{=row.nome}}">
            {{pass}}
            </div>
        </div>
        <div class="col-md-2" style="padding:0">
            <a class="btn btn-success btn-lg" onclick="busca()" href=""><img src="{{=URL('static','images/search.png')}}" alt=""></a>
          </button>
        </div>
    </div>

    <!-- Button trigger modal -->


<div class="col-md-6">
    <div class="panel panel-info" >
      <div class="panel-heading">Atividades recentes</div>
      <div class="panel-body">


          <div class="row">
              <div class="col-sm-6 col-md-3">
                <a href="#" onclick="notimplemented()" class="thumbnail">
                  <img src="{{=URL('static','images/ciclismo.jpg')}}" />
              </a>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-6 col-md-3">
            <a href="#" onclick="notimplemented()" class="thumbnail">
              <img src="{{=URL('static','images/corrida.jpg')}}" />
          </a>
      </div>
    </div>

    </div>
    </div>
</div>

</section>
<script>
    function notimplemented(){
        alert('Não implementado ainda.');
    }

    function busca(){
        alert('teste');
    }
</script>
