
{{extend 'layout.html'}}
{{block header}}
<link href="{{=URL('static','css/search.css')}}" rel="stylesheet">
{{end}}

    <section class="container conteudo">

        <div class="page-header">
            <h1>O que você está fazendo? <p><small>Procure alguma atividade!</small></p></h1>
        </div>

        <ul class="search-form">
            <label for="search"> <img src="{{=URL('static','images/search.png')}}" /></label>

            <input type="text" id="search" name="search" placeholder="Type search terms...">
        </ul>

        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <ul class="nav nav-pills nav-stacked">
                  <li class="active">
                    <a href="#">Corrida</a>
                </li>
            </ul>
        </div>
        <div class="modal-body">

          <div class="jumbotron">
            <div align="center">
                <div class="circular"><img src="" alt=""/></div>
            </div>
            <a href="#" class="sb blue twitter"></a>
            <a href="#" class="sb blue facebook"></a>
            <div align = "center">
                <textarea class="form-control" id="focusedInput" rows="3" type="text" value="Add a comment..." style="resize:none"></textarea>
            </div>
            <p/>
            <div align="center">
                <!-- Indicates a successful or positive action -->

            </div>
        </div>

        <button type="button" class="btn btn-success btn-lg btn-block">
            Check-in</button>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</section>
