.nav-top{
    background-color: transparent;
}
.conteudo{
    padding:10px 0 10px 0;
    min-height: 600px;
}

.text-span{
    color: #23CDF9;
}

.nome-app{
    font-size: 50px;
    color:#88A902;
}

.lead{
    text-align: justify;
}

footer{
    background-color: transparent;
}
